.main {
  font-size: 18px;
  max-width: 800px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(229, 234, 240);
  margin: 30px auto auto auto;
  padding: 2.6rem;
  text-align: center;
}

.image {
  max-width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 1.4rem;
}
