.love {
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding-top: 80px;
  padding-bottom: 80px;
}

.loveTitle {
  font-size: 45px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.loveSubtitle {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 32px;
}

.loveImages {
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  border: 10px solid #272343;
}

.loveFun {
  font-size: 30px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.loveDiscover {
  font-size: 24px;
}

.loveExtra {
  font-size: 35px;
}
