.landing {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1.45fr;
  /* grid-auto-rows: minmax(auto, 50vh);
  grid-auto-columns: minmax(auto, 50%); */
  grid-template-areas:
    "image js"
    "image fed";
}

.landing div:nth-child(1) {
  grid-area: image;
  background-color: red;
}

.landing div:nth-child(2) {
  grid-area: js;
  background-color: orange;
}

.landing div:nth-child(3) {
  grid-area: fed;
  background-color: azure;
}

.heroes {
  display: grid;
  grid-auto-rows: minmax(auto, 15vw);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 16px;
  margin-right: auto;
  margin-left: auto;
}
